{% extends 'base.html' %}
{% block base %}


<div class="container mx-auto mt-4">
  <div class="row">
    {% for s in privatesongs %}    
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{s.image.url}}" class="card-img-top" alt="..." height="350">
        <div class="card-body">
          <h5 class="card-title">{{s.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Artists : {{s.singers}}</h6>
          <a href="{{s.song.url}}" class="btn mr-2 mt-2"><i class="fas fa-link"></i>Download</a>

        </div>
      </div>
    </div>
    {% endfor %}    
  </div>
</div>
<style>
  :root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  background: #111 !important;
}

.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
}

.btn:hover, .btn:focus {
  background: var(--gradient) !important;
  background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important; 
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}
</style>
{% endblock base %}