{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/userlogstyle.css' %}">
  </head>
  <body>
    <div class="logo-head">
        <a href="" class="logo" style="text-align: center !important;">MUSIC PORTAL</a>
    </div>
    <div class="container">
        <div class="input-section">
            <form action="" method="post">
              {% csrf_token %}
                <label for="{{form.email.id_for_label}}" class="single-item">Email</label>
                {{form.email.errors}}
                {{form.email}}

                <label for="{{form.password.id_for_label}}" class="single-item">Password</label>
                {{form.password.errors}}
                {{form.password}}
                
                <button class="btn">Login</button>
                <p style="color:white;font-size: .92em;margin-top: 1.3px;" >New Here? <a href="{% url 'signupview' %}" style="text-decoration: none;color:rgb(255, 255, 18);"> Create New Account</a></p>
            </form>
        </div>
    </div>
      

  </body>
  <style>
    @font-face {
    font-family: myFirstFont;
    src: url("{% static 'css/DanburyCaps_PERSONAL_USE_ONLY.otf' %}");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("{% static 'images/wallpaper.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
  </style>
</html>


